body {
    background-color: powderblue;
    font-family: 'Signika', sans-serif;
}

.weatherApp {
    background-color: ivory;
    max-width: 650px;
    margin: 60px auto;
    border: 2px solid #86b9b0;
    border-radius: 100px 100px 100px 100px;
    padding: 40px;
    box-shadow: 0px 40px 40px rgba(134, 185, 176, 0.9);
    }

    header {
        color: powderblue;
        text-align: left;
        text-decoration: underline;
        border-bottom: 1px solid #f9f7fe;
        padding-bottom: 15px;
    }

.currentDateTime {
   
    font-size: 22px;
    display: flex;
    justify-content: space-around;
}

.dateHeading {
    padding: 1px 1px;
    margin: 1px 100px;
    border:  2px solid #86b9b0;
    text-align: center;
}

.timeHeading {
    padding: 1px 1px;
    margin: 1px 100px;
    border:  2px solid #86b9b0;
    text-align: center;
}

.day, .date, .month, .year, .hours, .minutes, .humidity, .humidity-unit, .wind, .wind-unit, .temp-value, .weatherDescription, .advice {
    color: powderblue;
}

.location-input {
   background-color: #f9f7fe; 
   border: 1px solid #86b9b0;
   border-radius: 10px;
   width: 86%;
   font-size: 18px;
   padding: 10px;
}

.location-input:hover {
    border: 5px solid #86b9b0; 
}
.location-input:focus {
    border: 3px solid #86b9b0;
    outline: none; 
}
.location-input::selection {
    border: 3px solid #86b9b0;
}

.search-button {
margin-left: 5px;
font-size: 18px;
background-color: #86b9b0;
color: powderblue;
border: none;
padding: 10px;
line-height: 1;
border-radius: 5px;
}

h1 {
    text-shadow: 20px;
    font-size: 48px;
    padding: 0 7px 10px 0;
    margin: 0 20px;
    border: 0;
    }

    .detail {
        padding: 7px 7px;
        margin: 20px 20px;
        border: 0;   
    }

.information {
    display: flex;
    justify-content: space-between;
    }

.temp {
    padding: 7px 7px 10px 0;
    margin: 20px 20px;
    border: 0;  
}

.temp-icon {
    font-size: 20px;
    position: relative;
    top: -5px;

}

.temp-value {
    font-size: 42px;
    position: relative;
    }
.temp-unit {
    font-size: 18px;
    vertical-align: super;
}

h2 
{
    font-size: 20px;
    padding: 7px 7px;
    margin: 20px 20px;
    border: 0; 
    font-weight: 500;
    text-justify: inter-character; 
}
a {
color: powderblue;
}

footer {
    border-top: 1px solid #f9f7fe;
    text-align: center;
    padding-top: 15px;
}